.profile {
  background: #52b69a;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.profile_pic {
  /* background: #d9ed92; */
  /* border: 1.5px solid #387db3; */
  border-radius: 15px;
  margin-left: 15px;
  margin-top: 15px;
  object-fit: contain;
}
.pp {
  width: 20vw !important;
  height: 15vh !important;
}
/* .profile_pic:hover {
  border: 5px solid #184e77;
  
} */

.profile_pg {
  display: flex;
  justify-content: space-evenly;

  flex-direction: row;
}
.profile_post {
  width: 70%;
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 15px 15px 15px 15px;
  height: 100% !important;
  border-radius: 15px;
  background: #093a48;
  color: white;
}
.profile_pg img {
  width: 15%;
}

.profile_sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.profile_sidebar div {
  margin-top: 15px;
  background: #99d98c;
  padding: 5px 5px 5px 5px;
  color: black;
}
.ad101 {
  color: white !important;
  height: 100vh;
  background: #387db3;
  padding: 10px;
  width: 25vw;
  margin: 10px;
  border-radius: 10px;
}


.blocks{
  outline: none;
  border: none;
  background-color: red;
  color: white;
  border-radius: 10px;
  border: 2px solid black;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.blocks:hover{
  background-color: white;
  color: black;
  font-weight: 500;
  transition: 100ms ease-in-out;
}


.follows{
  outline: none;
  border: none;
  background-color: transparent;
  color: white;
  border-radius: 10px;
  border: 2px solid black;
  padding-left: 5px;
  margin: 10px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.follows:hover{
  background-color: white;
  color: black;
  font-weight: 500;
  transition: 100ms ease-in-out;
}



.edits{
  outline: none;
  border: none;
  background-color: violet;
  color: white;
  border-radius: 10px;
  border: 2px solid black;
  padding-left: 5px;
  margin: 10px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.edits:hover{
  background-color: white;
  color: black;
  font-weight: 500;
  transition: 100ms ease-in-out;
}

